@import 'node_modules/bootstrap/scss/bootstrap';
@import './partials/variables';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h2,
h3,
h5 {
  font-weight: 800;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4, h5 {
  font-size: 1.5rem;
}


a {
  text-decoration: none;
}

p {
  line-height: 2.1rem;
}

p.p1 {
  font-size: 1.2rem;
}

p.p2 {
  font-size: 1.1rem;
}

.container-seo {
  width: 65%;
  margin: 0 auto;
}

.card {
  border: transparent;
}

.main-wrap.short {
  padding-bottom: 7.5rem;
}

.main-wrap.long {
  padding-bottom: 11.2rem;
}

.btn-seo {
  padding: 0.7rem 2.4rem;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn-seo.default {
  background-color: $primary-color;
  border: 1px solid  $primary-color;
  &:hover {
    background-color: lighten($primary-color, 5%);
  }
}

.text.white {
  color: white;
}

.text.black {
  color: black;
}

.row {
  padding-top: 1rem;
}

.icon {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 2rem;
}